img{
    max-height: 100px;
    border: 1px solid black;
}
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.active{
    background-color: dodgerblue;
    color: white;
}
.updatecontainer{
    display: flex;
}
.addContainer{
    display: flex;
}
.addContainer > * {
    margin: .5rem;
}
.add{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
}
/* campus view */
.description{
    width: 400px;
}

.infocontainer, .edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.infocontainer.student{
    width: 275px;
}
.studentname{
    flex-grow: .25;
}
.studentsheading{
    margin-bottom: .5rem;;
}
ul{
    margin-top: 0;
}
.edit{
    width: 400px;
}
sup{
    color: red;
}